.header{
  heigth:80px;
  background-color:#1C2B35;
  display: flex;
  justify-content:space-between;
  align-items:center;
  padding:20px 100px;
  
}

nav a { 
  color: #ffff;
  text-decoration: none;
  margin-left:20px;
}

